<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.dylee.newszine"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/news_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity
            android:name=".ui.NewsMain"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name=".ui.WebviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.ParallaxWebviewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.AnimationActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.NewsSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <!--<receiver android:name="com.dylee.newszine.ui.NewsMain$AlarmMoneyRecever" >-->
        <!--<intent-filter android:priority="10000" >-->
        <!--<action android:name="com.dylee.newszine.ui.AlarmMoneyRecever" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider897449093666408"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

    </application>

</manifest>



